
<h1>Registrazione</h1>
<form [formGroup]='myForm'>
  
   Nome <input type = "text" [formControl] = "myForm.controls ['nome']"> <br>
   
<div *ngIf="!myForm.controls['nome'].valid" 
     class="alert alert-danger">nome is invalid
</div>
<div *ngIf="myForm.controls['nome'].hasError('required')" 
     class="alert alert-danger">nome is required
</div>


    Cognome <input type = "text" [formControl] = "myForm.controls ['cognome']"> <br>
    
    
<div *ngIf="!myForm.controls['cognome'].valid" 
     class="alert alert-danger">cognome is invalid
</div>
<div *ngIf="myForm.controls['cognome'].hasError('required')" 
     class="alert alert-danger">cognome is required
</div>


    User <input type = "text" [formControl] = "myForm.controls ['user']"> <br>
    
    
<div *ngIf="!myForm.controls['user'].valid" 
     class="alert alert-danger">user is invalid
</div>
<div *ngIf="myForm.controls['user'].hasError('required')" 
     class="alert alert-danger">user is required
</div>


    Password <input type ="text" [formControl] = "myForm.controls ['pwd']"> <br>
    
    
<div *ngIf="!myForm.controls['pwd'].valid" 
     class="alert alert-danger">pwd is invalid
</div>
<div *ngIf="myForm.controls['pwd'].hasError('required')" 
     class="alert alert-danger">pwd is required
</div>

  
  <button>Aggiungi</button>
  
  <app-elenco [utenti] = "vettUtenti" ></app-elenco>
</form>



