
<h1>Registrazione</h1>
<form [formGroup]='myForm'>
  
  User name:<br>
  <input type = 'text' [formControl] = "myform.controls['user']"> <br>
  
  User password:<br>
  <input type = 'text' [formControl] = "myform.controls['pwd']"> <br>
  
  <button (click) = 'onSubmit'>onSubmit</button>
</form>

<div *ngIf="!myForm.controls['userControl'].valid" 
     class="alert alert-danger">Campo user invalido
</div>
<div *ngIf="myForm.controls['userControl'].hasError('required')" 
     class="alert alert-danger">Campo user richiesto
</div>

<div *ngIf="!myForm.controls['pwdControl'].valid" 
     class="alert alert-danger">Campo password invalido
</div>
<div *ngIf="myForm.controls['pwdControl'].hasError('required')" 
     class="alert alert-danger">Campo password richiesto
</div>

